@model List<bookish.Data.Book>
@{
    ViewBag.Title = "Catalogue";
}
<h2>@ViewBag.Title.</h2>

<!-- todo: call database here -->

<!--SELECT *
FROM [bookish].[dbo].[Books]
ORDER BY [BookName] ASC-->

<ul>
    @foreach (var person in ViewBag.data)
    {
        <li>@person</li>
    }
</ul>