@model List<bookish.Data.Book>
@{
    ViewBag.Title = "Catalogue";
}
<h2>@ViewBag.Title.</h2>

<!-- todo: call database here -->

<!--SELECT *
FROM [bookish].[dbo].[Books]
ORDER BY [BookName] ASC-->

<ul>
    @foreach (var book in Model)
    {
        <li>@Html.ActionLink(book.BookName, $"BookInfoPage", "Book", new {id = book.BookName}, null)</li>
    }
</ul>