@{
    ViewBag.Title = "Catalogue";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!-- todo: call database here -->

<!--SELECT *
FROM [bookish].[dbo].[Books]
ORDER BY [BookName] ASC-->

<div>
    @{
        foreach (var book in bookish.Data.Queries.QueryBooks("*", "", "ORDER BY [BookName] ASC"))
        {
            book.ToString();
        }
        
    }
</div>