@model List<bookish.Data.SQLQueries.SqlBookQueries>
@{
    ViewBag.Title = "Search Results";
}
<h2>@ViewBag.Title</h2>

<!-- todo: call database here -->
<!--SELECT *
FROM [bookish].[dbo].[Books]
ORDER BY [BookName] ASC-->

