@model bookish.web.Models.BookInfoModel

@{
    ViewBag.Title = @Model.BookName;
}

    <div class="jumbotron">
        <h1>@Model.BookName</h1>
        <p>
            Total Copies:
            @Model.BookCopies
        </p>
        <p>
            Copies Available:
            @{
                var modelBookCopies = Model.BookCopies - Model.Checkouts.Count;
            }
            @modelBookCopies
        </p>
    </div>

<ul>
    @foreach (var book in Model.Checkouts)
    {
        <li>@book</li>
    }
</ul>